/*Styles of Navigation Bar and head of the page*/

header {
    background-color: #FFFF5C;
}

#logo_nav-bar {
    vertical-align: middle;
    margin-bottom: 20px;
    margin-left: 15px;
}

#alias_name {
    font-size: 1.60rem;
    font-weight: bold;
    margin-left: 8px;
}

#barra_navegacion {
    font-size: 1.1rem;
    font-style: oblique;
    font-weight: 600;
}

.proyectos {
    margin-right: 100px;
    margin-left: 100px;
    text-align: center;
}

#boton_navegador {
    background-color: #F1F1D7;
    position: absolute;
    right: 30px;
}

#titulo {
    text-align: center;
    font-size: 2.5rem;
    padding-top: 15px;
}

#titulo>p {
    font-size: 1.2rem;
    font-style: oblique;
}

#container-carousel {
    width: 100%;
}

#titulo>p {
    font-size: 1.2rem;
    font-style: oblique;
}


/*Styles of piecharts*/

.chart {
    height: auto;
}


/*Styles of footer page*/

footer {
    margin-top: 15px;
    background-color: #FFFF5C;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
}

footer .title-footer {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

footer .body-footer {
    margin-bottom: 5px;
    font-size: 0.8rem;
    font-weight: 600;
}

#copyright {
    color: blue;
    font-weight: 700;
    font-size: 0.8rem;
}


/****MEDIA QUERIES****/


/*Setting of navigation button*/

@media (max-width: 359px) {
    #boton_navegador {
        position: static;
        margin-left: 120px;
        margin-right: auto;
        margin-bottom: 10px;
    }
}


/*Setting of navigation bar*/

@media (max-width:767px) {
    #barra_navegacion {
        background-color: #F1F1D7;
        text-align: left;
        margin-left: -15px;
        margin-right: -13px;
        margin-bottom: -10px;
        padding-left: 40px;
    }
    #menu-desplegable-navbar {
        margin-left: 10px;
        margin-right: 10px;
    }
}